extends ./parts/layout.pug
block vars
    - page = 'DataTable';
block main
    .main-heading
        .main-title
            ol.breadcrumb
                li
                    a(href="./") Tables
                li.active Data Table
        .main-filter
            form.main-filter__search
                .input-group
                    input.form-control(type="text", placeholder="Search")
                    span.input-group-btn
                        button.btn.btn-default(type="button")
                            .fa.fa-search
    .container-fluid.half-padding
        .template.template__table_data
            .row
                .col-md-12
                    .panel.panel-danger
                        .panel-heading
                            h3.panel-title Data Table
                        .panel-body
                            .container-fluid.half-padding
                                #buttons
                                include ./include/dataTable.html
block css
    link(href='libs/datatables/css/dataTables.bootstrap.css', rel='stylesheet')
block js
    script(src='libs/datatables/js/jquery.dataTables.js')
    script(src='libs/datatables/js/dataTables.bootstrap.js')
    script(src='js/template/table_data.js')
